In [37]:
import pandas as pd

In [ ]:
DATASET_LOCATION="./dataset/expandedDataSet.csv"

In [39]:
ds = pd.read_csv(DATASET_LOCATION)

In [40]:
ds.head(10)

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.00000000,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.00000000,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.00000000,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,5,female,group B,associate's degree,standard,none,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,6,female,group B,some college,standard,completed,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,8,male,group D,high school,free/reduced,completed,single,sometimes,no,3.00000000,private,> 10,65,64,68
9,9,female,group B,high school,free/reduced,none,married,regularly,yes,NaN,private,< 5,37,59,50

<h1><b>DESCRIZIONE DEGLI ATTRIBUTI</b></h1>
<ul>
    <li><b>Gender:</b> Gender of the student (male/female)</li>
    <li><b>EthnicGroup:</b> Ethnic group of the student (group A to E)</li>
    <li><b>ParentEduc:</b> Parent(s) education background (from some_highschool to master's degree)</li>
    <li><b>LunchType:</b> School lunch type (standard or free/reduced)</li>
    <li><b>TestPrep:</b> Test preparation course followed (completed or none)</li>
    <li><b>ParentMaritalStatus:</b> Parent(s) marital status (married/single/widowed/divorced)</li>
    <li><b>PracticeSport:</b> How often the student parctice sport (never/sometimes/regularly))</li>
    <li><b>IsFirstChild:</b> If the child is first child in the family or not (yes/no)</li>
    <li><b>NrSiblings:</b> Number of siblings the student has (0 to 7)</li>
    <li><b>TransportMeans:</b> Means of transport to school (schoolbus/private)</li>
    <li><b>WklyStudyHours:</b> Weekly self-study hours(less that 5hrs; between 5 and 10hrs; more than 10hrs)</li>
    <li><b>MathScore:</b> math test score(0-100)</li>
    <li><b>ReadingScore:</b> reading test score(0-100)</li>
    <li><b>WritingScore:</b> writing test score(0-100)</li>
</ul>

In [41]:
#elimino la colonna TestPrep perchè ha troppi dati mancanti
ds.drop("TestPrep",axis=1,inplace=True)

In [42]:
#elimino la colonna indice perchè non è significativa
ds.drop("Unnamed: 0",axis=1,inplace=True)

In [43]:
#elimino la colonna LunchType perchè non sono sicuro che sia significativa
ds.drop("LunchType",axis=1,inplace=True)

In [44]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,NaN,bachelor's degree,married,regularly,yes,3.00000000,school_bus,< 5,71,71,74
1,female,group C,some college,married,sometimes,yes,0.00000000,NaN,5 - 10,69,90,88
2,female,group B,master's degree,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
3,male,group A,associate's degree,married,never,no,1.00000000,NaN,5 - 10,45,56,42
4,male,group C,some college,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,female,group B,associate's degree,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,female,group B,some college,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,male,group B,some college,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,male,group D,high school,single,sometimes,no,3.00000000,private,> 10,65,64,68
9,female,group B,high school,married,regularly,yes,NaN,private,< 5,37,59,50

In [45]:
ds.shape

(30641, 12)

In [46]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30641 non-null  object
 1   EthnicGroup          28801 non-null  object
 2   ParentEduc           28796 non-null  object
 3   ParentMaritalStatus  29451 non-null  object
 4   PracticeSport        30010 non-null  object
 5   IsFirstChild         29737 non-null  object
 6   NrSiblings           29069 non-null  float64
 7   TransportMeans       27507 non-null  object
 8   WklyStudyHours       29686 non-null  object
 9   MathScore            30641 non-null  int64
 10  ReadingScore         30641 non-null  int64
 11  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.8+ MB

In [47]:
#eliminiamo le osservazioni che presentano dati mancanti
ds.dropna(inplace=True)

In [48]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20445 entries, 2 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               20445 non-null  object
 1   EthnicGroup          20445 non-null  object
 2   ParentEduc           20445 non-null  object
 3   ParentMaritalStatus  20445 non-null  object
 4   PracticeSport        20445 non-null  object
 5   IsFirstChild         20445 non-null  object
 6   NrSiblings           20445 non-null  float64
 7   TransportMeans       20445 non-null  object
 8   WklyStudyHours       20445 non-null  object
 9   MathScore            20445 non-null  int64
 10  ReadingScore         20445 non-null  int64
 11  WritingScore         20445 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.0+ MB

In [49]:
#verifichiamo se ci sono delle righe duplicate
ds.drop_duplicates(inplace=True)

In [50]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20445 entries, 2 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               20445 non-null  object
 1   EthnicGroup          20445 non-null  object
 2   ParentEduc           20445 non-null  object
 3   ParentMaritalStatus  20445 non-null  object
 4   PracticeSport        20445 non-null  object
 5   IsFirstChild         20445 non-null  object
 6   NrSiblings           20445 non-null  float64
 7   TransportMeans       20445 non-null  object
 8   WklyStudyHours       20445 non-null  object
 9   MathScore            20445 non-null  int64
 10  ReadingScore         20445 non-null  int64
 11  WritingScore         20445 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.0+ MB

In [51]:
#Mappiamo Gender su un vettore di variabili dummy
ds.Gender.replace({'male':1,'female':0},inplace=True)

In [52]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,0,group B,master's degree,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
4,1,group C,some college,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,0,group B,associate's degree,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,0,group B,some college,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,1,group B,some college,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,1,group D,high school,single,sometimes,no,3.00000000,private,> 10,65,64,68
11,1,group D,associate's degree,divorced,sometimes,yes,1.00000000,school_bus,5 - 10,40,52,43
12,0,group B,high school,married,regularly,no,1.00000000,private,5 - 10,66,82,74
13,1,group A,some college,single,sometimes,yes,1.00000000,private,> 10,80,73,71
14,0,group A,master's degree,divorced,sometimes,yes,2.00000000,private,< 5,48,53,58

In [53]:
ds_= pd.get_dummies(ds['EthnicGroup'], prefix='EG')
ds = ds.join(ds_).drop('EthnicGroup',axis=1)

In [54]:
ds.head(10)

,Gender,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,EG_group D,EG_group E
2,0,master's degree,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91,0,1,0,0,0
4,1,some college,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75,0,0,1,0,0
5,0,associate's degree,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79,0,1,0,0,0
6,0,some college,widowed,never,no,1.00000000,private,5 - 10,85,93,89,0,1,0,0,0
7,1,some college,married,sometimes,yes,1.00000000,private,> 10,41,43,39,0,1,0,0,0
8,1,high school,single,sometimes,no,3.00000000,private,> 10,65,64,68,0,0,0,1,0
11,1,associate's degree,divorced,sometimes,yes,1.00000000,school_bus,5 - 10,40,52,43,0,0,0,1,0
12,0,high school,married,regularly,no,1.00000000,private,5 - 10,66,82,74,0,1,0,0,0
13,1,some college,single,sometimes,yes,1.00000000,private,> 10,80,73,71,1,0,0,0,0
14,0,master's degree,divorced,sometimes,yes,2.00000000,private,< 5,48,53,58,1,0,0,0,0

In [55]:
ds_= pd.get_dummies(ds['ParentEduc'], prefix='ParEduc')
ds = ds.join(ds_).drop('ParentEduc',axis=1)

In [56]:
ds.head(10)

,Gender,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,...,EG_group B,EG_group C,EG_group D,EG_group E,ParEduc_associate's degree,ParEduc_bachelor's degree,ParEduc_high school,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school
2,0,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91,...,1,0,0,0,0,0,0,1,0,0
4,1,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75,...,0,1,0,0,0,0,0,0,1,0
5,0,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79,...,1,0,0,0,1,0,0,0,0,0
6,0,widowed,never,no,1.00000000,private,5 - 10,85,93,89,...,1,0,0,0,0,0,0,0,1,0
7,1,married,sometimes,yes,1.00000000,private,> 10,41,43,39,...,1,0,0,0,0,0,0,0,1,0
8,1,single,sometimes,no,3.00000000,private,> 10,65,64,68,...,0,0,1,0,0,0,1,0,0,0
11,1,divorced,sometimes,yes,1.00000000,school_bus,5 - 10,40,52,43,...,0,0,1,0,1,0,0,0,0,0
12,0,married,regularly,no,1.00000000,private,5 - 10,66,82,74,...,1,0,0,0,0,0,1,0,0,0
13,1,single,sometimes,yes,1.00000000,private,> 10,80,73,71,...,0,0,0,0,0,0,0,0,1,0
14,0,divorced,sometimes,yes,2.00000000,private,< 5,48,53,58,...,0,0,0,0,0,0,0,1,0,0

In [57]:
ds_= pd.get_dummies(ds['ParentMaritalStatus'], prefix='ParMarStat')
ds = ds.join(ds_).drop('ParentMaritalStatus',axis=1)

In [58]:
ds.head(10)

,Gender,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,...,ParEduc_associate's degree,ParEduc_bachelor's degree,ParEduc_high school,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed
2,0,sometimes,yes,4.00000000,school_bus,< 5,87,93,91,0,...,0,0,0,1,0,0,0,0,1,0
4,1,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75,0,...,0,0,0,0,1,0,0,1,0,0
5,0,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79,0,...,1,0,0,0,0,0,0,1,0,0
6,0,never,no,1.00000000,private,5 - 10,85,93,89,0,...,0,0,0,0,1,0,0,0,0,1
7,1,sometimes,yes,1.00000000,private,> 10,41,43,39,0,...,0,0,0,0,1,0,0,1,0,0
8,1,sometimes,no,3.00000000,private,> 10,65,64,68,0,...,0,0,1,0,0,0,0,0,1,0
11,1,sometimes,yes,1.00000000,school_bus,5 - 10,40,52,43,0,...,1,0,0,0,0,0,1,0,0,0
12,0,regularly,no,1.00000000,private,5 - 10,66,82,74,0,...,0,0,1,0,0,0,0,1,0,0
13,1,sometimes,yes,1.00000000,private,> 10,80,73,71,1,...,0,0,0,0,1,0,0,0,1,0
14,0,sometimes,yes,2.00000000,private,< 5,48,53,58,1,...,0,0,0,1,0,0,1,0,0,0

In [59]:
ds_= pd.get_dummies(ds['PracticeSport'], prefix='sport')
ds = ds.join(ds_).drop('PracticeSport',axis=1)

In [60]:
ds.head(10)

,Gender,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,...,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes
2,0,yes,4.00000000,school_bus,< 5,87,93,91,0,1,...,1,0,0,0,0,1,0,0,0,1
4,1,yes,0.00000000,school_bus,5 - 10,76,78,75,0,0,...,0,1,0,0,1,0,0,0,0,1
5,0,yes,1.00000000,school_bus,5 - 10,73,84,79,0,1,...,0,0,0,0,1,0,0,0,1,0
6,0,no,1.00000000,private,5 - 10,85,93,89,0,1,...,0,1,0,0,0,0,1,1,0,0
7,1,yes,1.00000000,private,> 10,41,43,39,0,1,...,0,1,0,0,1,0,0,0,0,1
8,1,no,3.00000000,private,> 10,65,64,68,0,0,...,0,0,0,0,0,1,0,0,0,1
11,1,yes,1.00000000,school_bus,5 - 10,40,52,43,0,0,...,0,0,0,1,0,0,0,0,0,1
12,0,no,1.00000000,private,5 - 10,66,82,74,0,1,...,0,0,0,0,1,0,0,0,1,0
13,1,yes,1.00000000,private,> 10,80,73,71,1,0,...,0,1,0,0,0,1,0,0,0,1
14,0,yes,2.00000000,private,< 5,48,53,58,1,0,...,1,0,0,1,0,0,0,0,0,1

In [61]:
ds.IsFirstChild.replace({'yes':1,'no':0},inplace=True)

In [62]:
ds.TransportMeans.replace({'school_bus':1,'private':0},inplace=True)

In [63]:
ds_= pd.get_dummies(ds['WklyStudyHours'], prefix='studyHours')
ds = ds.join(ds_).drop('WklyStudyHours',axis=1)

In [64]:
ds.head(10)

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,...,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10
2,0,1,4.00000000,1,87,93,91,0,1,0,...,0,0,1,0,0,0,1,0,1,0
4,1,1,0.00000000,1,76,78,75,0,0,1,...,0,1,0,0,0,0,1,1,0,0
5,0,1,1.00000000,1,73,84,79,0,1,0,...,0,1,0,0,0,1,0,1,0,0
6,0,0,1.00000000,0,85,93,89,0,1,0,...,0,0,0,1,1,0,0,1,0,0
7,1,1,1.00000000,0,41,43,39,0,1,0,...,0,1,0,0,0,0,1,0,0,1
8,1,0,3.00000000,0,65,64,68,0,0,0,...,0,0,1,0,0,0,1,0,0,1
11,1,1,1.00000000,1,40,52,43,0,0,0,...,1,0,0,0,0,0,1,1,0,0
12,0,0,1.00000000,0,66,82,74,0,1,0,...,0,1,0,0,0,1,0,1,0,0
13,1,1,1.00000000,0,80,73,71,1,0,0,...,0,0,1,0,0,0,1,0,0,1
14,0,1,2.00000000,0,48,53,58,1,0,0,...,1,0,0,0,0,0,1,0,1,0

In [65]:
#Analisi della correlazione (Da fare)
ds.corr()

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,...,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10
Gender,1.00000000,0.00753004,0.00001940,0.00927157,0.15818373,-0.24117547,-0.29184370,0.00036623,0.00177390,-0.00482245,...,-0.01787971,0.02386235,-0.01206648,0.00030784,0.00407022,-0.01101161,0.00780583,-0.00216240,-0.00471758,0.00842791
IsFirstChild,0.00753004,1.00000000,-0.11851838,-0.00617200,0.01085489,0.00778622,0.00292951,-0.00610826,0.00961967,-0.00160848,...,0.00631496,0.00413861,-0.01079921,0.00141883,-0.00747458,0.01265724,-0.00706805,0.00364653,-0.00260665,-0.00170216
NrSiblings,0.00001940,-0.11851838,1.00000000,-0.00700297,0.00141171,0.00002279,0.00049679,-0.00322471,-0.00327025,0.00960277,...,0.00859453,-0.00254124,-0.00576010,0.00358478,0.01015720,-0.01493737,0.00743134,-0.00176164,-0.00147710,0.00406337
TransportMeans,0.00927157,-0.00617200,-0.00700297,1.00000000,0.00646781,0.00120737,0.00111129,-0.01536109,0.00918798,-0.01234796,...,-0.00156506,-0.00147709,0.00239442,0.00213028,-0.00209993,-0.00234061,0.00367862,-0.00456585,0.01223846,-0.00849865
MathScore,0.15818373,0.01085489,0.00141171,0.00646781,1.00000000,0.81935856,0.80876268,-0.06713600,-0.10125040,-0.08788177,...,0.00249800,0.00719171,-0.01347129,0.00907285,-0.05500143,0.05221841,-0.01270222,0.02401421,-0.08185065,0.06540536
ReadingScore,-0.24117547,0.00778622,0.00002279,0.00120737,0.81935856,1.00000000,0.95252939,-0.05451955,-0.07427119,-0.04513283,...,0.00705391,-0.00124248,-0.00695709,0.00680189,-0.02353147,0.02392329,-0.00695459,0.01957055,-0.04715418,0.03014610
WritingScore,-0.29184370,0.00292951,0.00049679,0.00111129,0.80876268,0.95252939,1.00000000,-0.06423266,-0.08491209,-0.06447669,...,0.00932440,-0.00466159,-0.00459731,0.00560158,-0.04397113,0.05367244,-0.02161133,0.01422949,-0.05015291,0.04071318
EG_group A,0.00036623,-0.00610826,-0.00322471,-0.01536109,-0.06713600,-0.05451955,-0.06423266,1.00000000,-0.14508163,-0.19761705,...,0.00427809,-0.00204029,-0.00289997,0.00465546,-0.01120616,-0.00412489,0.01159454,0.00316674,-0.00467872,0.00138228
EG_group B,0.00177390,0.00961967,-0.00327025,0.00918798,-0.10125040,-0.07427119,-0.08491209,-0.14508163,1.00000000,-0.34732075,...,-0.01089467,-0.00181027,0.01344522,-0.00550469,0.00603257,-0.00720405,0.00281175,0.00129416,-0.00048599,-0.00112419
EG_group C,-0.00482245,-0.00160848,0.00960277,-0.01234796,-0.08788177,-0.04513283,-0.06447669,-0.19761705,-0.34732075,1.00000000,...,-0.00585646,0.00897304,-0.00490197,-0.00110558,-0.00246088,0.00259139,-0.00081331,0.00525824,0.00584104,-0.01382483
EG_group D,0.00496008,-0.00345239,-0.00866609,0.00905256,0.04507744,0.04182573,0.09591941,-0.16970403,-0.29826238,-0.40626597,...,0.01696343,-0.00537718,-0.00722657,-0.00440190,0.00396530,0.00330221,-0.00587277,-0.01346840,0.00193408,0.01539939
EG_group E,-0.00210254,0.00003834,0.00426346,0.00627244,0.22960499,0.13546449,0.11304916,-0.11629195,-0.20438827,-0.27839918,...,-0.00415607,-0.00162511,0.00233782,0.00984262,-0.00011638,0.00384563,-0.00361490,0.00598455,-0.00614442,-0.00058278
ParEduc_associate's degree,0.00438555,0.00056543,0.00179733,-0.00283908,0.06308691,0.06261354,0.06488328,0.00013162,0.00636472,-0.00321559,...,-0.00847052,-0.00389006,0.01423540,-0.00706756,0.00210002,-0.00764645,0.00591504,0.00835727,-0.00933270,0.00007708
ParEduc_bachelor's degree,-0.00448952,-0.01072681,0.00461309,-0.00056108,0.09659433,0.10023151,0.12532027,0.00799726,-0.01366613,0.00326455,...,0.00140136,-0.00545910,0.00020047,0.01509492,-0.01069909,0.00662329,0.00092435,0.00126197,0.00727638,-0.01027596
ParEduc_high school,-0.00616490,-0.00019194,-0.00333962,0.00717824,-0.07315566,-0.07497910,-0.09940548,0.00681365,0.00943181,-0.00582039,...,0.01036964,-0.00199732,-0.00632652,-0.00141441,0.00189386,-0.01358692,0.01176194,0.01560737,-0.01163809,-0.00671505
ParEduc_master's degree,0.00352356,0.01281034,-0.01075520,0.00424761,0.10256392,0.11941284,0.13972086,-0.01557666,0.00423997,0.00987851,...,0.00855027,-0.00571385,-0.00500488,0.01271139,0.01665221,-0.00866751,-0.00301510,-0.01164707,0.00884974,0.00481598
ParEduc_some college,-0.00203788,-0.01004159,0.00508962,-0.00132026,-0.00489890,-0.01126001,-0.00082980,-0.00117547,-0.01223323,-0.00569033,...,-0.00640349,0.01236343,-0.00564080,-0.00946125,-0.00254734,0.01337065,-0.01110913,-0.00377333,0.00300208,0.00140034
ParEduc_some high school,0.00540760,0.01091146,-0.00071460,-0.00527623,-0.13021186,-0.13497315,-0.15751601,-0.00224297,0.00564357,0.00615505,...,-0.00177185,0.00086864,0.00117438,-0.00193023,-0.00330294,0.00729210,-0.00475538,-0.01366550,0.00625618,0.01053902
ParMarStat_divorced,-0.01787971,0.00631496,0.00859453,-0.00156506,0.00249800,0.00705391,0.00932440,0.00427809,-0.01089467,-0.00585646,...,1.00000000,-0.52095307,-0.25312614,-0.06367999,-0.00316599,0.00070019,0.00148363,-0.00310725,0.00216060,0.00152215
ParMarStat_married,0.02386235,0.00413861,-0.00254124,-0.00147709,0.00719171,-0.00124248,-0.00466159,-0.00204029,-0.00181027,0.00897304,...,-0.52095307,1.00000000,-0.64890858,-0.16324862,0.00374765,-0.00372157,0.00102260,-0.00198915,-0.00254631,0.00562861
ParMarStat_single,-0.01206648,-0.01079921,-0.00576010,0.00239442,-0.01347129,-0.00695709,-0.00459731,-0.00289997,0.01344522,-0.00490197,...,-0.25312614,-0.64890858,1.00000000,-0.07932095,-0.00239010,0.00522274,-0.00338922,0.00375740,0.00232316,-0.00768683
ParMarStat_widowed,0.00030784,0.00141883,0.00358478,0.00213028,0.00907285,0.00680189,0.00560158,0.00465546,-0.00550469,-0.00110558,...,-0.06367999,-0.16324862,-0.07932095,1.00000000,0.00254247,-0.00469671,0.00278014,0.00393026,-0.00390842,-0.00053295
sport_never,0.00407022,-0.00747458,0.01015720,-0.00209993,-0.05500143,-0.02353147,-0.04397113,-0.01120616,0.00603257,-0.00246088,...,-0.00316599,0.00374765,-0.00239010,0.00254247,1.00000000,-0.29547866,-0.39722345,0.00207509,-0.00772523,0.00642451
sport_regularly,-0.01101161,0.01265724,-0.01493737,-0.00234061,0.05221841,0.02392329,0.05367244,-0.00412489,-0.00720405,0.00259139,...,0.00070019,-0.00372157,0.00522274,-0.00469671,-0.29547866,1.00000000,-0.75937398,-0.01014043,0.00888682,0.00279316
sport_sometimes,0.00780583,-0.00706805,0.00743134,0.00367862,-0.01270222,-0.00695459,-0.02161133,0.01159454,0.00281175,-0.00081331,...,0.00148363,0.00102260,-0.00338922,0.00278014,-0.39722345,-0.75937398,1.00000000,0.00832777,-0.00327542,-0.00705865
studyHours_5 - 10,-0.00216240,0.00364653,-0.00176164,-0.00456585,0.02401421,0.01957055,0.01422949,0.00316674,0.00129416,0.00525824,...,-0.00310725,-0.00198915,0.00375740,0.00393026,0.00207509,-0.01014043,0.00832777,1.00000000,-0.68395368,-0.50335818
studyHours_< 5,-0.00471758,-0.00260665,-0.00147710,0.01223846,-0.08185065,-0.04715418,-0.05015291,-0.00467872,-0.00048599,0.00584104,...,0.00216060,-0.00254631,0.00232316,-0.00390842,-0.00772523,0.00888682,-0.00327542,-0.68395368,1.00000000,-0.28609309
studyHours_> 10,0.00842791,-0.00170216,0.00406337,-0.00849865,0.06540536,0.03014610,0.04071318,0.00138228,-0.00112419,-0.01382483,...,0.00152215,0.00562861,-0.00768683,-0.00053295,0.00642451,0.00279316,-0.00705865,-0.50335818,-0.28609309,1.00000000

In [66]:
#ds_copy = ds.copy() # questa riga serve per avere il dataset per provare la standardizzazione di sklearn ( alla fine)

In [67]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import*
#Introduciamo la standardizzazione automatica di scikit learn
lista = ds.columns.values.tolist()
diz = {}
for i in range(len(lista)):
    diz[i] = lista[i]
scaler = preprocessing.StandardScaler().fit(ds)
X_scaled = scaler.transform(ds)
#Viene mantenuto l'ordine delle colonne quando si standardizza, quindi andiamo a sostituire gli indici con i nomi
#delle colonne del Dataset, questo ci servirà per suddividere il Dataset in Train e Test -set
dsn = pd.DataFrame(X_scaled)
dsn.rename(diz, axis='columns', inplace=True)

In [68]:
#Suddividiamo il Dataset standardizzato in Train e Test set
X = dsn.drop('MathScore',axis=1)
Y = dsn['MathScore']
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [69]:
import numpy as np
np.random.seed(50)

In [70]:
#Definiamo la funzione compute_performance così da poter poi stampare
#la tabella con le varie perfomance dei diversi modelli
#from sklearn.model_selection import cross_val_predict, cross_val_score

import time

pd.options.display.float_format = '{:.8f}'.format

def compute_performance(modelli,names,X,y):
    score_dict = {}
    score_dict['Modello'] = {}
    score_dict['mse'] = {}
    score_dict['variance'] = {}
    score_dict['mae'] = {}
    score_dict['mape'] = {}
    score_dict['median_ae'] = {}
    score_dict['r2'] = {}
    score_dict['adjusted_r2'] = {}
    
    

    for i in range(len(modelli)):
        value_predictions = modelli[i].predict(X)
        mse = mean_squared_error(y, value_predictions)
        variance = explained_variance_score(y,value_predictions)
        mae = mean_absolute_error(y,value_predictions)
        mape = mean_absolute_percentage_error(y, value_predictions)
        median_ae = median_absolute_error(y, value_predictions)
        r2 = r2_score(y, value_predictions)
        adjusted_r2 = 1 - ( 1-r2 ) * ( len(value_predictions) - 1 ) / ( len(value_predictions) - X.shape[1] - 1 )

        name = names[i]

        score_dict['Modello'][i] = name
        score_dict['mse'][i] = mse
        score_dict['variance'][i] = variance
        score_dict['mae'][i] = mae
        score_dict['mape'][i] = mape
        score_dict['median_ae'][i] = median_ae
        score_dict['r2'][i] = r2
        score_dict['adjusted_r2'][i] = adjusted_r2
        
        
    return score_dict

In [71]:
import pickle
regressori = []
nomi = []

<h1> Modelli SVM </h1>

In [72]:
modelli_svm = []

In [73]:
from sklearn.svm import SVR

#svr_reg = SVR()
#svr_reg.fit(X_train,y_train)

# Salviamo il modello sul disco
#filename = './Modelli/svr_reg.sav'
#pickle.dump(svr_reg, open(filename, 'wb'))

In [74]:
# Carichiamo il modello dal disco
filename = './Modelli/svr_reg.sav'
svr_reg = pickle.load(open(filename, 'rb'))

#print(lin_reg)
regressori.append(svr_reg)
nomi.append("SVR Regressor")
modelli_svm.append("SVR Regressor")

<h1>Modelli Lineari</h1></n>

In [75]:
modelli_lineari = []

<h2>Linear Regressor</h2>

In [76]:
from sklearn.linear_model import LinearRegression

#lin_reg = LinearRegression()
#lin_reg = lin_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/lin_reg.sav'
#pickle.dump(lin_reg, open(filename, 'wb'))

In [77]:
# Carichiamo il modello dal disco
filename = './Modelli/lin_reg.sav'
lin_reg = pickle.load(open(filename, 'rb'))
#print(lin_reg)

regressori.append(lin_reg)
nomi.append("Linear Regressor")
modelli_lineari.append("Linear Regressor")

<h1>SGD Regressor</h1>

In [83]:
from sklearn.linear_model import SGDRegressor

#sgd_reg = SGDRegressor(random_state=42) 
#sgd_reg.fit(X_train, y_train)

#Salviamo il modello sul disco
#filename = './Modelli/sgd_reg.sav'
#pickle.dump(sgd_reg, open(filename, 'wb'))

In [84]:
#Carichiamo il modello dal disco
filename = './Modelli/sgd_reg.sav'
sgd_reg = pickle.load(open(filename, 'rb'))

#print(lin_reg)
regressori.append(sgd_reg)
nomi.append("SGD Regressor")
modelli_lineari.append("SGD Regressor")

<h1>Ensemble Models</h1>

In [85]:
modelli_ensemble = []

<h2>Random Forest</h2>

In [86]:
from sklearn.ensemble import RandomForestRegressor

#forest_reg = RandomForestRegressor(random_state=42) 
#forest_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/forest_reg.sav'
#pickle.dump(forest_reg, open(filename, 'wb'))

In [87]:
# Carichiamo il modello dal disco
filename = './Modelli/forest_reg.sav'
forest_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

regressori.append(forest_reg)
nomi.append("Forest Regressor")
modelli_lineari.append("Forest Regressor")

<h2>AdaBoost Regressor</h2>

In [88]:
from sklearn.ensemble import AdaBoostRegressor

#ada_reg = AdaBoostRegressor(random_state=42)
#ada_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/ada_reg.sav'
#pickle.dump(ada_reg, open(filename, 'wb'))

In [89]:
# Carichiamo il modello dal disco
filename = './Modelli/ada_reg.sav'
ada_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

regressori.append(ada_reg)
nomi.append("Ada Regressor")
modelli_ensemble.append("Ada Regressor")

<h2>Bagging Regressor</h2>

In [90]:
from sklearn.ensemble import BaggingRegressor

#bagging_reg = BaggingRegressor(random_state=42)
#bagging_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/bagging_reg.sav'
#pickle.dump(bagging_reg, open(filename, 'wb'))

# Carichiamo il modello dal disco
filename = './Modelli/bagging_reg.sav'
bagging_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

In [91]:
regressori.append(bagging_reg)
nomi.append("Bagging Regressor")
modelli_ensemble.append("Bagging Regressor")

<h1>Neural networks</h1>

In [92]:
reti_neurali = []

In [93]:
from sklearn.neural_network import MLPRegressor

#mlp_reg = MLPRegressor()
#mlp_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/mlp_reg.sav'
#pickle.dump(mlp_reg, open(filename, 'wb'))

# Carichiamo il modello dal disco
filename = './Modelli/mlp_reg.sav'
mlp_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

In [94]:
regressori.append(mlp_reg)
nomi.append("MLP Regressor")
reti_neurali.append("MLP Regressor")

<h1>Modelli ad Albero</h1>

In [95]:
modelli_alberi = []

<h2>DecisionTree Regressor</h2>

In [96]:
from sklearn.tree import DecisionTreeRegressor

#tree_reg = DecisionTreeRegressor(random_state=42)
#tree_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/tree_reg.sav'
#pickle.dump(tree_reg, open(filename, 'wb'))

# Carichiamo il modello dal disco
filename = './Modelli/tree_reg.sav'
tree_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

In [97]:
regressori.append(tree_reg)
nomi.append("DecisionTree Regressor")
modelli_alberi.append("DecisionTree Regressor")

<h1>Regressori basati su Istance</h1>

In [98]:
modelli_istance = []

<h2>K Neighbour Regressor</h2>

In [99]:
from sklearn.neighbors import KNeighborsRegressor

#kn_reg = KNeighborsRegressor()
#kn_reg.fit(X_train, y_train)

# Salviamo il modello sul disco
#filename = './Modelli/kn_reg.sav'
#pickle.dump(kn_reg, open(filename, 'wb'))

# Carichiamo il modello dal disco
filename = './Modelli/kn_reg.sav'
kn_reg = pickle.load(open(filename, 'rb'))
# print(lin_reg)

In [100]:
regressori.append(kn_reg)
nomi.append("K Neighbor Regressor")
modelli_istance.append("K Neighbor Regressor")

<h1>Performance modelli - Training set</h1>

In [101]:
#performance_modelli_training = compute_performance(regressori, nomi, X_train,y_train)
#performance_train = pd.DataFrame(performance_modelli_training)
#performance_train

# Salviamo le performance ottenute su disco
#filename = './Performance/performance_train.csv'
#pickle.dump(performance_train, open(filename, 'wb'))

In [102]:
#Carichiamo il file delle performance dal disco
filename = './Performance/performance_train.csv'
performance_train = pickle.load(open(filename, 'rb'))
performance_train

,Modello,mse,variance,mae,mape,median_ae,r2,adjusted_r2
0,SVR Regressor,0.12195848,0.87725161,0.26870546,1.03530523,0.20032292,0.87724276,0.87703977
1,Linear Regressor,0.14709927,0.85193736,0.30654054,1.14857732,0.25834413,0.85193731,0.85169247
2,SGD Regressor,0.14841254,0.85068777,0.30780980,1.13705514,0.26030930,0.85061544,0.85036841
3,Forest Regressor,0.02301149,0.97683787,0.11995947,0.45450426,0.10092052,0.97683780,0.97679950
4,SGD Regressor,0.14800383,0.85103716,0.30752330,1.15911334,0.25887993,0.85102683,0.85078048
5,Forest Regressor,0.02304623,0.97680318,0.11991585,0.45039189,0.09961832,0.97680283,0.97676447
6,Ada Regressor,0.17477926,0.82584737,0.33589297,1.17053418,0.28798054,0.82407603,0.82378512
7,Bagging Regressor,0.06120816,0.93839315,0.17359924,0.65296263,0.11719802,0.93839096,0.93828908
8,MLP Regressor,0.13513931,0.86511004,0.29428304,1.09616081,0.24778962,0.86397560,0.86375067
9,DecisionTree Regressor,0.06349860,0.93608553,0.08995420,0.33979452,0.00000000,0.93608552,0.93597983
10,K Neighbor Regressor,0.29512192,0.70298697,0.43152699,1.28358074,0.36461606,0.70294519,0.70245398

<h1>Performance modelli - Test set</h1>

In [62]:
performance_modelli_training = compute_performance(regressori, nomi, X_test,y_test)
performance_test = pd.DataFrame(performance_modelli_training)
performance_test

# Salviamo le performance ottenute su disco
filename = './Performance/performance_test.csv'
pickle.dump(performance_test, open(filename, 'wb'))

In [63]:
# Carichiamo il file delle performance dal disco
filename = './Performance/performance_test.csv'
performance_test = pickle.load(open(filename, 'rb'))
performance_test

,Modello,mse,variance,mae,mape,median_ae,r2,adjusted_r2
0,SVR Regressor,0.13098524,0.86919579,0.28044534,1.00025420,0.21446145,0.86905057,0.86817994
1,Linear Regressor,0.14826070,0.85198569,0.30683735,1.08492561,0.26012542,0.85177983,0.85079437
2,SGD Regressor,0.14923536,0.85106923,0.30804368,1.07327184,0.26002385,0.85080543,0.84981350
3,Forest Regressor,0.05078420,0.94931132,0.15967987,0.54896786,0.11524472,0.94922968,0.94889213
4,Ada Regressor,0.17251956,0.82927166,0.33337558,1.09059720,0.28206809,0.82752760,0.82638090
5,Bagging Regressor,0.05895738,0.94112758,0.17050073,0.57855626,0.11719802,0.94105874,0.94066686
6,MLP Regressor,0.13631244,0.86404061,0.29334926,1.02105660,0.24478183,0.86372483,0.86281879
7,DecisionTree Regressor,0.06171135,0.93830728,0.08736270,0.30062070,0.00000000,0.93830552,0.93789533
8,K Neighbor Regressor,0.30648037,0.69456272,0.43878957,1.20754156,0.36461606,0.69360341,0.69156630