In [145]:
import pandas as pd

In [146]:
DATASET_LOCATION="./dataset/expandedDataSet.csv"

In [147]:
ds = pd.read_csv(DATASET_LOCATION)

In [148]:
ds.head(10)

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
5,5,female,group B,associate's degree,standard,none,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79
6,6,female,group B,some college,standard,completed,widowed,never,no,1.0,private,5 - 10,85,93,89
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.0,private,> 10,41,43,39
8,8,male,group D,high school,free/reduced,completed,single,sometimes,no,3.0,private,> 10,65,64,68
9,9,female,group B,high school,free/reduced,none,married,regularly,yes,NaN,private,< 5,37,59,50

<h1><b>DESCRIZIONE DEGLI ATTRIBUTI</b></h1>
<ul>
    <li><b>Gender:</b> Gender of the student (male/female)</li>
    <li><b>EthnicGroup:</b> Ethnic group of the student (group A to E)</li>
    <li><b>ParentEduc:</b> Parent(s) education background (from some_highschool to master's degree)</li>
    <li><b>LunchType:</b> School lunch type (standard or free/reduced)</li>
    <li><b>TestPrep:</b> Test preparation course followed (completed or none)</li>
    <li><b>ParentMaritalStatus:</b> Parent(s) marital status (married/single/widowed/divorced)</li>
    <li><b>PracticeSport:</b> How often the student parctice sport (never/sometimes/regularly))</li>
    <li><b>IsFirstChild:</b> If the child is first child in the family or not (yes/no)</li>
    <li><b>NrSiblings:</b> Number of siblings the student has (0 to 7)</li>
    <li><b>TransportMeans:</b> Means of transport to school (schoolbus/private)</li>
    <li><b>WklyStudyHours:</b> Weekly self-study hours(less that 5hrs; between 5 and 10hrs; more than 10hrs)</li>
    <li><b>MathScore:</b> math test score(0-100)</li>
    <li><b>ReadingScore:</b> reading test score(0-100)</li>
    <li><b>WritingScore:</b> writing test score(0-100)</li>
</ul>

In [149]:
#elimino la colonna TestPrep perchè ha troppi dati mancanti
ds.drop("TestPrep",axis=1,inplace=True)

In [150]:
#elimino la colonna indice perchè non è significativa
ds.drop("Unnamed: 0",axis=1,inplace=True)

In [151]:
#elimino la colonna LunchType perchè non sono sicuro che sia significativa
ds.drop("LunchType",axis=1,inplace=True)

In [152]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,NaN,bachelor's degree,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,female,group B,master's degree,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,married,never,no,1.0,NaN,5 - 10,45,56,42
4,male,group C,some college,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
5,female,group B,associate's degree,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79
6,female,group B,some college,widowed,never,no,1.0,private,5 - 10,85,93,89
7,male,group B,some college,married,sometimes,yes,1.0,private,> 10,41,43,39
8,male,group D,high school,single,sometimes,no,3.0,private,> 10,65,64,68
9,female,group B,high school,married,regularly,yes,NaN,private,< 5,37,59,50

In [153]:
ds.shape

(30641, 12)

In [154]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30641 non-null  object
 1   EthnicGroup          28801 non-null  object
 2   ParentEduc           28796 non-null  object
 3   ParentMaritalStatus  29451 non-null  object
 4   PracticeSport        30010 non-null  object
 5   IsFirstChild         29737 non-null  object
 6   NrSiblings           29069 non-null  float64
 7   TransportMeans       27507 non-null  object
 8   WklyStudyHours       29686 non-null  object
 9   MathScore            30641 non-null  int64
 10  ReadingScore         30641 non-null  int64
 11  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.8+ MB

In [155]:
#eliminiamo le osservazioni che presentano dati mancanti
ds.dropna(inplace=True)

In [156]:
#Mappiamo Gender su un vettore di variabili dummy
ds.Gender.replace({'male':1,'female':0},inplace=True)

In [157]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,0,group B,master's degree,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
4,1,group C,some college,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
5,0,group B,associate's degree,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79
6,0,group B,some college,widowed,never,no,1.0,private,5 - 10,85,93,89
7,1,group B,some college,married,sometimes,yes,1.0,private,> 10,41,43,39
8,1,group D,high school,single,sometimes,no,3.0,private,> 10,65,64,68
11,1,group D,associate's degree,divorced,sometimes,yes,1.0,school_bus,5 - 10,40,52,43
12,0,group B,high school,married,regularly,no,1.0,private,5 - 10,66,82,74
13,1,group A,some college,single,sometimes,yes,1.0,private,> 10,80,73,71
14,0,group A,master's degree,divorced,sometimes,yes,2.0,private,< 5,48,53,58

In [158]:
ds_= pd.get_dummies(ds['EthnicGroup'], prefix='EG')
ds = ds.join(ds_).drop('EthnicGroup',axis=1)

In [159]:
ds.head(10)

,Gender,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,EG_group D,EG_group E
2,0,master's degree,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,False,True,False,False,False
4,1,some college,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,False,False,True,False,False
5,0,associate's degree,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79,False,True,False,False,False
6,0,some college,widowed,never,no,1.0,private,5 - 10,85,93,89,False,True,False,False,False
7,1,some college,married,sometimes,yes,1.0,private,> 10,41,43,39,False,True,False,False,False
8,1,high school,single,sometimes,no,3.0,private,> 10,65,64,68,False,False,False,True,False
11,1,associate's degree,divorced,sometimes,yes,1.0,school_bus,5 - 10,40,52,43,False,False,False,True,False
12,0,high school,married,regularly,no,1.0,private,5 - 10,66,82,74,False,True,False,False,False
13,1,some college,single,sometimes,yes,1.0,private,> 10,80,73,71,True,False,False,False,False
14,0,master's degree,divorced,sometimes,yes,2.0,private,< 5,48,53,58,True,False,False,False,False

In [160]:
ds_= pd.get_dummies(ds['ParentEduc'], prefix='ParEduc')
ds = ds.join(ds_).drop('ParentEduc',axis=1)

In [161]:
ds.head(10)

,Gender,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,...,EG_group B,EG_group C,EG_group D,EG_group E,ParEduc_associate's degree,ParEduc_bachelor's degree,ParEduc_high school,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school
2,0,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,...,True,False,False,False,False,False,False,True,False,False
4,1,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,...,False,True,False,False,False,False,False,False,True,False
5,0,married,regularly,yes,1.0,school_bus,5 - 10,73,84,79,...,True,False,False,False,True,False,False,False,False,False
6,0,widowed,never,no,1.0,private,5 - 10,85,93,89,...,True,False,False,False,False,False,False,False,True,False
7,1,married,sometimes,yes,1.0,private,> 10,41,43,39,...,True,False,False,False,False,False,False,False,True,False
8,1,single,sometimes,no,3.0,private,> 10,65,64,68,...,False,False,True,False,False,False,True,False,False,False
11,1,divorced,sometimes,yes,1.0,school_bus,5 - 10,40,52,43,...,False,False,True,False,True,False,False,False,False,False
12,0,married,regularly,no,1.0,private,5 - 10,66,82,74,...,True,False,False,False,False,False,True,False,False,False
13,1,single,sometimes,yes,1.0,private,> 10,80,73,71,...,False,False,False,False,False,False,False,False,True,False
14,0,divorced,sometimes,yes,2.0,private,< 5,48,53,58,...,False,False,False,False,False,False,False,True,False,False

In [162]:
ds_= pd.get_dummies(ds['ParentMaritalStatus'], prefix='ParMarStat')
ds = ds.join(ds_).drop('ParentMaritalStatus',axis=1)

In [163]:
ds.head(10)

,Gender,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,...,ParEduc_associate's degree,ParEduc_bachelor's degree,ParEduc_high school,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed
2,0,sometimes,yes,4.0,school_bus,< 5,87,93,91,False,...,False,False,False,True,False,False,False,False,True,False
4,1,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,False,...,False,False,False,False,True,False,False,True,False,False
5,0,regularly,yes,1.0,school_bus,5 - 10,73,84,79,False,...,True,False,False,False,False,False,False,True,False,False
6,0,never,no,1.0,private,5 - 10,85,93,89,False,...,False,False,False,False,True,False,False,False,False,True
7,1,sometimes,yes,1.0,private,> 10,41,43,39,False,...,False,False,False,False,True,False,False,True,False,False
8,1,sometimes,no,3.0,private,> 10,65,64,68,False,...,False,False,True,False,False,False,False,False,True,False
11,1,sometimes,yes,1.0,school_bus,5 - 10,40,52,43,False,...,True,False,False,False,False,False,True,False,False,False
12,0,regularly,no,1.0,private,5 - 10,66,82,74,False,...,False,False,True,False,False,False,False,True,False,False
13,1,sometimes,yes,1.0,private,> 10,80,73,71,True,...,False,False,False,False,True,False,False,False,True,False
14,0,sometimes,yes,2.0,private,< 5,48,53,58,True,...,False,False,False,True,False,False,True,False,False,False

In [164]:
ds_= pd.get_dummies(ds['PracticeSport'], prefix='sport')
ds = ds.join(ds_).drop('PracticeSport',axis=1)

In [165]:
ds.head(10)

,Gender,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,...,ParEduc_master's degree,ParEduc_some college,ParEduc_some high school,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes
2,0,yes,4.0,school_bus,< 5,87,93,91,False,True,...,True,False,False,False,False,True,False,False,False,True
4,1,yes,0.0,school_bus,5 - 10,76,78,75,False,False,...,False,True,False,False,True,False,False,False,False,True
5,0,yes,1.0,school_bus,5 - 10,73,84,79,False,True,...,False,False,False,False,True,False,False,False,True,False
6,0,no,1.0,private,5 - 10,85,93,89,False,True,...,False,True,False,False,False,False,True,True,False,False
7,1,yes,1.0,private,> 10,41,43,39,False,True,...,False,True,False,False,True,False,False,False,False,True
8,1,no,3.0,private,> 10,65,64,68,False,False,...,False,False,False,False,False,True,False,False,False,True
11,1,yes,1.0,school_bus,5 - 10,40,52,43,False,False,...,False,False,False,True,False,False,False,False,False,True
12,0,no,1.0,private,5 - 10,66,82,74,False,True,...,False,False,False,False,True,False,False,False,True,False
13,1,yes,1.0,private,> 10,80,73,71,True,False,...,False,True,False,False,False,True,False,False,False,True
14,0,yes,2.0,private,< 5,48,53,58,True,False,...,True,False,False,True,False,False,False,False,False,True

In [166]:
ds.IsFirstChild.replace({'yes':1,'no':0},inplace=True)

In [167]:
ds.TransportMeans.replace({'school_bus':1,'private':0},inplace=True)

In [168]:
ds_= pd.get_dummies(ds['WklyStudyHours'], prefix='studyHours')
ds = ds.join(ds_).drop('WklyStudyHours',axis=1)

In [169]:
ds.head(10)

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,...,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10
2,0,1,4.0,1,87,93,91,False,True,False,...,False,False,True,False,False,False,True,False,True,False
4,1,1,0.0,1,76,78,75,False,False,True,...,False,True,False,False,False,False,True,True,False,False
5,0,1,1.0,1,73,84,79,False,True,False,...,False,True,False,False,False,True,False,True,False,False
6,0,0,1.0,0,85,93,89,False,True,False,...,False,False,False,True,True,False,False,True,False,False
7,1,1,1.0,0,41,43,39,False,True,False,...,False,True,False,False,False,False,True,False,False,True
8,1,0,3.0,0,65,64,68,False,False,False,...,False,False,True,False,False,False,True,False,False,True
11,1,1,1.0,1,40,52,43,False,False,False,...,True,False,False,False,False,False,True,True,False,False
12,0,0,1.0,0,66,82,74,False,True,False,...,False,True,False,False,False,True,False,True,False,False
13,1,1,1.0,0,80,73,71,True,False,False,...,False,False,True,False,False,False,True,False,False,True
14,0,1,2.0,0,48,53,58,True,False,False,...,True,False,False,False,False,False,True,False,True,False

In [170]:
#Analisi della correlazione (Da fare)
ds.corr()

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,WritingScore,EG_group A,EG_group B,EG_group C,...,ParMarStat_divorced,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10
Gender,1.000000,0.007530,0.000019,0.009272,0.158184,-0.241175,-0.291844,0.000366,0.001774,-0.004822,...,-0.017880,0.023862,-0.012066,0.000308,0.004070,-0.011012,0.007806,-0.002162,-0.004718,0.008428
IsFirstChild,0.007530,1.000000,-0.118518,-0.006172,0.010855,0.007786,0.002930,-0.006108,0.009620,-0.001608,...,0.006315,0.004139,-0.010799,0.001419,-0.007475,0.012657,-0.007068,0.003647,-0.002607,-0.001702
NrSiblings,0.000019,-0.118518,1.000000,-0.007003,0.001412,0.000023,0.000497,-0.003225,-0.003270,0.009603,...,0.008595,-0.002541,-0.005760,0.003585,0.010157,-0.014937,0.007431,-0.001762,-0.001477,0.004063
TransportMeans,0.009272,-0.006172,-0.007003,1.000000,0.006468,0.001207,0.001111,-0.015361,0.009188,-0.012348,...,-0.001565,-0.001477,0.002394,0.002130,-0.002100,-0.002341,0.003679,-0.004566,0.012238,-0.008499
MathScore,0.158184,0.010855,0.001412,0.006468,1.000000,0.819359,0.808763,-0.067136,-0.101250,-0.087882,...,0.002498,0.007192,-0.013471,0.009073,-0.055001,0.052218,-0.012702,0.024014,-0.081851,0.065405
ReadingScore,-0.241175,0.007786,0.000023,0.001207,0.819359,1.000000,0.952529,-0.054520,-0.074271,-0.045133,...,0.007054,-0.001242,-0.006957,0.006802,-0.023531,0.023923,-0.006955,0.019571,-0.047154,0.030146
WritingScore,-0.291844,0.002930,0.000497,0.001111,0.808763,0.952529,1.000000,-0.064233,-0.084912,-0.064477,...,0.009324,-0.004662,-0.004597,0.005602,-0.043971,0.053672,-0.021611,0.014229,-0.050153,0.040713
EG_group A,0.000366,-0.006108,-0.003225,-0.015361,-0.067136,-0.054520,-0.064233,1.000000,-0.145082,-0.197617,...,0.004278,-0.002040,-0.002900,0.004655,-0.011206,-0.004125,0.011595,0.003167,-0.004679,0.001382
EG_group B,0.001774,0.009620,-0.003270,0.009188,-0.101250,-0.074271,-0.084912,-0.145082,1.000000,-0.347321,...,-0.010895,-0.001810,0.013445,-0.005505,0.006033,-0.007204,0.002812,0.001294,-0.000486,-0.001124
EG_group C,-0.004822,-0.001608,0.009603,-0.012348,-0.087882,-0.045133,-0.064477,-0.197617,-0.347321,1.000000,...,-0.005856,0.008973,-0.004902,-0.001106,-0.002461,0.002591,-0.000813,0.005258,0.005841,-0.013825
EG_group D,0.004960,-0.003452,-0.008666,0.009053,0.045077,0.041826,0.095919,-0.169704,-0.298262,-0.406266,...,0.016963,-0.005377,-0.007227,-0.004402,0.003965,0.003302,-0.005873,-0.013468,0.001934,0.015399
EG_group E,-0.002103,0.000038,0.004263,0.006272,0.229605,0.135464,0.113049,-0.116292,-0.204388,-0.278399,...,-0.004156,-0.001625,0.002338,0.009843,-0.000116,0.003846,-0.003615,0.005985,-0.006144,-0.000583
ParEduc_associate's degree,0.004386,0.000565,0.001797,-0.002839,0.063087,0.062614,0.064883,0.000132,0.006365,-0.003216,...,-0.008471,-0.003890,0.014235,-0.007068,0.002100,-0.007646,0.005915,0.008357,-0.009333,0.000077
ParEduc_bachelor's degree,-0.004490,-0.010727,0.004613,-0.000561,0.096594,0.100232,0.125320,0.007997,-0.013666,0.003265,...,0.001401,-0.005459,0.000200,0.015095,-0.010699,0.006623,0.000924,0.001262,0.007276,-0.010276
ParEduc_high school,-0.006165,-0.000192,-0.003340,0.007178,-0.073156,-0.074979,-0.099405,0.006814,0.009432,-0.005820,...,0.010370,-0.001997,-0.006327,-0.001414,0.001894,-0.013587,0.011762,0.015607,-0.011638,-0.006715
ParEduc_master's degree,0.003524,0.012810,-0.010755,0.004248,0.102564,0.119413,0.139721,-0.015577,0.004240,0.009879,...,0.008550,-0.005714,-0.005005,0.012711,0.016652,-0.008668,-0.003015,-0.011647,0.008850,0.004816
ParEduc_some college,-0.002038,-0.010042,0.005090,-0.001320,-0.004899,-0.011260,-0.000830,-0.001175,-0.012233,-0.005690,...,-0.006403,0.012363,-0.005641,-0.009461,-0.002547,0.013371,-0.011109,-0.003773,0.003002,0.001400
ParEduc_some high school,0.005408,0.010911,-0.000715,-0.005276,-0.130212,-0.134973,-0.157516,-0.002243,0.005644,0.006155,...,-0.001772,0.000869,0.001174,-0.001930,-0.003303,0.007292,-0.004755,-0.013666,0.006256,0.010539
ParMarStat_divorced,-0.017880,0.006315,0.008595,-0.001565,0.002498,0.007054,0.009324,0.004278,-0.010895,-0.005856,...,1.000000,-0.520953,-0.253126,-0.063680,-0.003166,0.000700,0.001484,-0.003107,0.002161,0.001522
ParMarStat_married,0.023862,0.004139,-0.002541,-0.001477,0.007192,-0.001242,-0.004662,-0.002040,-0.001810,0.008973,...,-0.520953,1.000000,-0.648909,-0.163249,0.003748,-0.003722,0.001023,-0.001989,-0.002546,0.005629
ParMarStat_single,-0.012066,-0.010799,-0.005760,0.002394,-0.013471,-0.006957,-0.004597,-0.002900,0.013445,-0.004902,...,-0.253126,-0.648909,1.000000,-0.079321,-0.002390,0.005223,-0.003389,0.003757,0.002323,-0.007687
ParMarStat_widowed,0.000308,0.001419,0.003585,0.002130,0.009073,0.006802,0.005602,0.004655,-0.005505,-0.001106,...,-0.063680,-0.163249,-0.079321,1.000000,0.002542,-0.004697,0.002780,0.003930,-0.003908,-0.000533
sport_never,0.004070,-0.007475,0.010157,-0.002100,-0.055001,-0.023531,-0.043971,-0.011206,0.006033,-0.002461,...,-0.003166,0.003748,-0.002390,0.002542,1.000000,-0.295479,-0.397223,0.002075,-0.007725,0.006425
sport_regularly,-0.011012,0.012657,-0.014937,-0.002341,0.052218,0.023923,0.053672,-0.004125,-0.007204,0.002591,...,0.000700,-0.003722,0.005223,-0.004697,-0.295479,1.000000,-0.759374,-0.010140,0.008887,0.002793
sport_sometimes,0.007806,-0.007068,0.007431,0.003679,-0.012702,-0.006955,-0.021611,0.011595,0.002812,-0.000813,...,0.001484,0.001023,-0.003389,0.002780,-0.397223,-0.759374,1.000000,0.008328,-0.003275,-0.007059
studyHours_5 - 10,-0.002162,0.003647,-0.001762,-0.004566,0.024014,0.019571,0.014229,0.003167,0.001294,0.005258,...,-0.003107,-0.001989,0.003757,0.003930,0.002075,-0.010140,0.008328,1.000000,-0.683954,-0.503358
studyHours_< 5,-0.004718,-0.002607,-0.001477,0.012238,-0.081851,-0.047154,-0.050153,-0.004679,-0.000486,0.005841,...,0.002161,-0.002546,0.002323,-0.003908,-0.007725,0.008887,-0.003275,-0.683954,1.000000,-0.286093
studyHours_> 10,0.008428,-0.001702,0.004063,-0.008499,0.065405,0.030146,0.040713,0.001382,-0.001124,-0.013825,...,0.001522,0.005629,-0.007687,-0.000533,0.006425,0.002793,-0.007059,-0.503358,-0.286093,1.000000

In [171]:
#Reading e writing sono altamente correlati, li aggreghiamo facendone la media
new = pd.Series((ds.ReadingScore+ds.WritingScore)/2,name='RWScore')

In [172]:
ds.drop(['ReadingScore','WritingScore'],axis=1,inplace=True)
ds = ds.join(new)

In [173]:
ds.head(10)

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,EG_group A,EG_group B,EG_group C,EG_group D,EG_group E,...,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10,RWScore
2,0,1,4.0,1,87,False,True,False,False,False,...,False,True,False,False,False,True,False,True,False,92.0
4,1,1,0.0,1,76,False,False,True,False,False,...,True,False,False,False,False,True,True,False,False,76.5
5,0,1,1.0,1,73,False,True,False,False,False,...,True,False,False,False,True,False,True,False,False,81.5
6,0,0,1.0,0,85,False,True,False,False,False,...,False,False,True,True,False,False,True,False,False,91.0
7,1,1,1.0,0,41,False,True,False,False,False,...,True,False,False,False,False,True,False,False,True,41.0
8,1,0,3.0,0,65,False,False,False,True,False,...,False,True,False,False,False,True,False,False,True,66.0
11,1,1,1.0,1,40,False,False,False,True,False,...,False,False,False,False,False,True,True,False,False,47.5
12,0,0,1.0,0,66,False,True,False,False,False,...,True,False,False,False,True,False,True,False,False,78.0
13,1,1,1.0,0,80,True,False,False,False,False,...,False,True,False,False,False,True,False,False,True,72.0
14,0,1,2.0,0,48,True,False,False,False,False,...,False,False,False,False,False,True,False,True,False,55.5

In [174]:
ds.corr()

,Gender,IsFirstChild,NrSiblings,TransportMeans,MathScore,EG_group A,EG_group B,EG_group C,EG_group D,EG_group E,...,ParMarStat_married,ParMarStat_single,ParMarStat_widowed,sport_never,sport_regularly,sport_sometimes,studyHours_5 - 10,studyHours_< 5,studyHours_> 10,RWScore
Gender,1.000000,0.007530,0.000019,0.009272,0.158184,0.000366,0.001774,-0.004822,0.004960,-0.002103,...,0.023862,-0.012066,0.000308,0.004070,-0.011012,0.007806,-0.002162,-0.004718,0.008428,-0.270328
IsFirstChild,0.007530,1.000000,-0.118518,-0.006172,0.010855,-0.006108,0.009620,-0.001608,-0.003452,0.000038,...,0.004139,-0.010799,0.001419,-0.007475,0.012657,-0.007068,0.003647,-0.002607,-0.001702,0.005365
NrSiblings,0.000019,-0.118518,1.000000,-0.007003,0.001412,-0.003225,-0.003270,0.009603,-0.008666,0.004263,...,-0.002541,-0.005760,0.003585,0.010157,-0.014937,0.007431,-0.001762,-0.001477,0.004063,0.000269
TransportMeans,0.009272,-0.006172,-0.007003,1.000000,0.006468,-0.015361,0.009188,-0.012348,0.009053,0.006272,...,-0.001477,0.002394,0.002130,-0.002100,-0.002341,0.003679,-0.004566,0.012238,-0.008499,0.001172
MathScore,0.158184,0.010855,0.001412,0.006468,1.000000,-0.067136,-0.101250,-0.087882,0.045077,0.229605,...,0.007192,-0.013471,0.009073,-0.055001,0.052218,-0.012702,0.024014,-0.081851,0.065405,0.823766
EG_group A,0.000366,-0.006108,-0.003225,-0.015361,-0.067136,1.000000,-0.145082,-0.197617,-0.169704,-0.116292,...,-0.002040,-0.002900,0.004655,-0.011206,-0.004125,0.011595,0.003167,-0.004679,0.001382,-0.060208
EG_group B,0.001774,0.009620,-0.003270,0.009188,-0.101250,-0.145082,1.000000,-0.347321,-0.298262,-0.204388,...,-0.001810,0.013445,-0.005505,0.006033,-0.007204,0.002812,0.001294,-0.000486,-0.001124,-0.080679
EG_group C,-0.004822,-0.001608,0.009603,-0.012348,-0.087882,-0.197617,-0.347321,1.000000,-0.406266,-0.278399,...,0.008973,-0.004902,-0.001106,-0.002461,0.002591,-0.000813,0.005258,0.005841,-0.013825,-0.055696
EG_group D,0.004960,-0.003452,-0.008666,0.009053,0.045077,-0.169704,-0.298262,-0.406266,1.000000,-0.239076,...,-0.005377,-0.007227,-0.004402,0.003965,0.003302,-0.005873,-0.013468,0.001934,0.015399,0.070345
EG_group E,-0.002103,0.000038,0.004263,0.006272,0.229605,-0.116292,-0.204388,-0.278399,-0.239076,1.000000,...,-0.001625,0.002338,0.009843,-0.000116,0.003846,-0.003615,0.005985,-0.006144,-0.000583,0.125492
ParEduc_associate's degree,0.004386,0.000565,0.001797,-0.002839,0.063087,0.000132,0.006365,-0.003216,-0.002026,-0.000596,...,-0.003890,0.014235,-0.007068,0.002100,-0.007646,0.005915,0.008357,-0.009333,0.000077,0.064545
ParEduc_bachelor's degree,-0.004490,-0.010727,0.004613,-0.000561,0.096594,0.007997,-0.013666,0.003265,0.001693,0.003194,...,-0.005459,0.000200,0.015095,-0.010699,0.006623,0.000924,0.001262,0.007276,-0.010276,0.114435
ParEduc_high school,-0.006165,-0.000192,-0.003340,0.007178,-0.073156,0.006814,0.009432,-0.005820,-0.001962,-0.005828,...,-0.001997,-0.006327,-0.001414,0.001894,-0.013587,0.011762,0.015607,-0.011638,-0.006715,-0.088535
ParEduc_master's degree,0.003524,0.012810,-0.010755,0.004248,0.102564,-0.015577,0.004240,0.009879,-0.001340,-0.004594,...,-0.005714,-0.005005,0.012711,0.016652,-0.008668,-0.003015,-0.011647,0.008850,0.004816,0.131372
ParEduc_some college,-0.002038,-0.010042,0.005090,-0.001320,-0.004899,-0.001175,-0.012233,-0.005690,0.012984,0.006342,...,0.012363,-0.005641,-0.009461,-0.002547,0.013371,-0.011109,-0.003773,0.003002,0.001400,-0.005994
ParEduc_some high school,0.005408,0.010911,-0.000715,-0.005276,-0.130212,-0.002243,0.005644,0.006155,-0.010427,0.000047,...,0.000869,0.001174,-0.001930,-0.003303,0.007292,-0.004755,-0.013666,0.006256,0.010539,-0.148278
ParMarStat_divorced,-0.017880,0.006315,0.008595,-0.001565,0.002498,0.004278,-0.010895,-0.005856,0.016963,-0.004156,...,-0.520953,-0.253126,-0.063680,-0.003166,0.000700,0.001484,-0.003107,0.002161,0.001522,0.008315
ParMarStat_married,0.023862,0.004139,-0.002541,-0.001477,0.007192,-0.002040,-0.001810,0.008973,-0.005377,-0.001625,...,1.000000,-0.648909,-0.163249,0.003748,-0.003722,0.001023,-0.001989,-0.002546,0.005629,-0.003028
ParMarStat_single,-0.012066,-0.010799,-0.005760,0.002394,-0.013471,-0.002900,0.013445,-0.004902,-0.007227,0.002338,...,-0.648909,1.000000,-0.079321,-0.002390,0.005223,-0.003389,0.003757,0.002323,-0.007687,-0.005819
ParMarStat_widowed,0.000308,0.001419,0.003585,0.002130,0.009073,0.004655,-0.005505,-0.001106,-0.004402,0.009843,...,-0.163249,-0.079321,1.000000,0.002542,-0.004697,0.002780,0.003930,-0.003908,-0.000533,0.006262
sport_never,0.004070,-0.007475,0.010157,-0.002100,-0.055001,-0.011206,0.006033,-0.002461,0.003965,-0.000116,...,0.003748,-0.002390,0.002542,1.000000,-0.295479,-0.397223,0.002075,-0.007725,0.006425,-0.034401
sport_regularly,-0.011012,0.012657,-0.014937,-0.002341,0.052218,-0.004125,-0.007204,0.002591,0.003302,0.003846,...,-0.003722,0.005223,-0.004697,-0.295479,1.000000,-0.759374,-0.010140,0.008887,0.002793,0.039619
sport_sometimes,0.007806,-0.007068,0.007431,0.003679,-0.012702,0.011595,0.002812,-0.000813,-0.005873,-0.003615,...,0.001023,-0.003389,0.002780,-0.397223,-0.759374,1.000000,0.008328,-0.003275,-0.007059,-0.014629
studyHours_5 - 10,-0.002162,0.003647,-0.001762,-0.004566,0.024014,0.003167,0.001294,0.005258,-0.013468,0.005985,...,-0.001989,0.003757,0.003930,0.002075,-0.010140,0.008328,1.000000,-0.683954,-0.503358,0.017041
studyHours_< 5,-0.004718,-0.002607,-0.001477,0.012238,-0.081851,-0.004679,-0.000486,0.005841,0.001934,-0.006144,...,-0.002546,0.002323,-0.003908,-0.007725,0.008887,-0.003275,-0.683954,1.000000,-0.286093,-0.049277
studyHours_> 10,0.008428,-0.001702,0.004063,-0.008499,0.065405,0.001382,-0.001124,-0.013825,0.015399,-0.000583,...,0.005629,-0.007687,-0.000533,0.006425,0.002793,-0.007059,-0.503358,-0.286093,1.000000,0.035983
RWScore,-0.270328,0.005365,0.000269,0.001172,0.823766,-0.060208,-0.080679,-0.055696,0.070345,0.125492,...,-0.003028,-0.005819,0.006262,-0.034401,0.039619,-0.014629,0.017041,-0.049277,0.035983,1.000000

In [177]:
mat2 =pd.Series(ds.MathScore/10,name='MathScore')
ds.drop('MathScore',axis=1,inplace=True)
ds = ds.join(mat2)
rw2 =pd.Series(ds.RWScore/10,name='RWScore')
ds.drop('RWScore',axis=1,inplace=True)
ds = ds.join(rw2)

In [175]:
import numpy as np

In [176]:
np.random.seed(50)

<h1> Modello SVM </h1>

In [178]:
#suddivisione del dataset in test set e training set
from sklearn.model_selection import train_test_split
X = ds.drop('MathScore',axis=1)
Y = ds['MathScore']
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [179]:
from sklearn.svm import SVR
svr_reg = SVR()
svr_reg.fit(X_train,y_train)

SVR()

In [185]:
y_pred_svr= svr_reg.predict(X_train)
mean_squared_error(y_train,y_pred_svr)

0.34630203393362574

In [186]:
#performance sul test set
y_pred_svr= svr_reg.predict(X_test)
mean_squared_error(y_test,y_pred_svr)

0.3576924580672373