In [76]:
import pandas as pd

In [77]:
DATASET_LOCATION="./dataset/expandedDataSet.csv"

In [78]:
ds = pd.read_csv(DATASET_LOCATION)

In [79]:
ds.head(10)

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.00000000,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.00000000,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.00000000,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,5,female,group B,associate's degree,standard,none,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,6,female,group B,some college,standard,completed,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,8,male,group D,high school,free/reduced,completed,single,sometimes,no,3.00000000,private,> 10,65,64,68
9,9,female,group B,high school,free/reduced,none,married,regularly,yes,NaN,private,< 5,37,59,50

<h1><b>DESCRIZIONE DEGLI ATTRIBUTI</b></h1>
<ul>
    <li><b>Gender:</b> Gender of the student (male/female)</li>
    <li><b>EthnicGroup:</b> Ethnic group of the student (group A to E)</li>
    <li><b>ParentEduc:</b> Parent(s) education background (from some_highschool to master's degree)</li>
    <li><b>LunchType:</b> School lunch type (standard or free/reduced)</li>
    <li><b>TestPrep:</b> Test preparation course followed (completed or none)</li>
    <li><b>ParentMaritalStatus:</b> Parent(s) marital status (married/single/widowed/divorced)</li>
    <li><b>PracticeSport:</b> How often the student parctice sport (never/sometimes/regularly))</li>
    <li><b>IsFirstChild:</b> If the child is first child in the family or not (yes/no)</li>
    <li><b>NrSiblings:</b> Number of siblings the student has (0 to 7)</li>
    <li><b>TransportMeans:</b> Means of transport to school (schoolbus/private)</li>
    <li><b>WklyStudyHours:</b> Weekly self-study hours(less that 5hrs; between 5 and 10hrs; more than 10hrs)</li>
    <li><b>MathScore:</b> math test score(0-100)</li>
    <li><b>ReadingScore:</b> reading test score(0-100)</li>
    <li><b>WritingScore:</b> writing test score(0-100)</li>
</ul>

In [80]:
#elimino la colonna TestPrep perchè ha troppi dati mancanti
ds.drop("TestPrep",axis=1,inplace=True)

In [81]:
#elimino la colonna indice perchè non è significativa
ds.drop("Unnamed: 0",axis=1,inplace=True)

In [82]:
#elimino la colonna LunchType perchè non sono sicuro che sia significativa
ds.drop("LunchType",axis=1,inplace=True)

In [83]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,NaN,bachelor's degree,married,regularly,yes,3.00000000,school_bus,< 5,71,71,74
1,female,group C,some college,married,sometimes,yes,0.00000000,NaN,5 - 10,69,90,88
2,female,group B,master's degree,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
3,male,group A,associate's degree,married,never,no,1.00000000,NaN,5 - 10,45,56,42
4,male,group C,some college,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,female,group B,associate's degree,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,female,group B,some college,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,male,group B,some college,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,male,group D,high school,single,sometimes,no,3.00000000,private,> 10,65,64,68
9,female,group B,high school,married,regularly,yes,NaN,private,< 5,37,59,50

In [84]:
ds.shape

(30641, 12)

In [85]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30641 non-null  object
 1   EthnicGroup          28801 non-null  object
 2   ParentEduc           28796 non-null  object
 3   ParentMaritalStatus  29451 non-null  object
 4   PracticeSport        30010 non-null  object
 5   IsFirstChild         29737 non-null  object
 6   NrSiblings           29069 non-null  float64
 7   TransportMeans       27507 non-null  object
 8   WklyStudyHours       29686 non-null  object
 9   MathScore            30641 non-null  int64
 10  ReadingScore         30641 non-null  int64
 11  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.8+ MB

In [86]:
#eliminiamo le osservazioni che presentano dati mancanti
ds.dropna(inplace=True)

In [87]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20445 entries, 2 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               20445 non-null  object
 1   EthnicGroup          20445 non-null  object
 2   ParentEduc           20445 non-null  object
 3   ParentMaritalStatus  20445 non-null  object
 4   PracticeSport        20445 non-null  object
 5   IsFirstChild         20445 non-null  object
 6   NrSiblings           20445 non-null  float64
 7   TransportMeans       20445 non-null  object
 8   WklyStudyHours       20445 non-null  object
 9   MathScore            20445 non-null  int64
 10  ReadingScore         20445 non-null  int64
 11  WritingScore         20445 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.0+ MB

In [88]:
#verifichiamo se ci sono delle righe duplicate
ds.drop_duplicates(inplace=True)

In [89]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20445 entries, 2 to 30640
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               20445 non-null  object
 1   EthnicGroup          20445 non-null  object
 2   ParentEduc           20445 non-null  object
 3   ParentMaritalStatus  20445 non-null  object
 4   PracticeSport        20445 non-null  object
 5   IsFirstChild         20445 non-null  object
 6   NrSiblings           20445 non-null  float64
 7   TransportMeans       20445 non-null  object
 8   WklyStudyHours       20445 non-null  object
 9   MathScore            20445 non-null  int64
 10  ReadingScore         20445 non-null  int64
 11  WritingScore         20445 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 2.0+ MB

In [90]:
#Mappiamo Gender su un vettore di variabili dummy
ds.Gender.replace({'male':1,'female':0},inplace=True)

In [91]:
ds.head(10)

,Gender,EthnicGroup,ParentEduc,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,0,group B,master's degree,single,sometimes,yes,4.00000000,school_bus,< 5,87,93,91
4,1,group C,some college,married,sometimes,yes,0.00000000,school_bus,5 - 10,76,78,75
5,0,group B,associate's degree,married,regularly,yes,1.00000000,school_bus,5 - 10,73,84,79
6,0,group B,some college,widowed,never,no,1.00000000,private,5 - 10,85,93,89
7,1,group B,some college,married,sometimes,yes,1.00000000,private,> 10,41,43,39
8,1,group D,high school,single,sometimes,no,3.00000000,private,> 10,65,64,68
11,1,group D,associate's degree,divorced,sometimes,yes,1.00000000,school_bus,5 - 10,40,52,43
12,0,group B,high school,married,regularly,no,1.00000000,private,5 - 10,66,82,74
13,1,group A,some college,single,sometimes,yes,1.00000000,private,> 10,80,73,71
14,0,group A,master's degree,divorced,sometimes,yes,2.00000000,private,< 5,48,53,58

In [92]:
ds_= pd.get_dummies(ds['EthnicGroup'], prefix='EG')
ds = ds.join(ds_).drop('EthnicGroup',axis=1)

In [93]:
ds.head(10)

In [94]:
ds_= pd.get_dummies(ds['ParentEduc'], prefix='ParEduc')
ds = ds.join(ds_).drop('ParentEduc',axis=1)

In [95]:
ds.head(10)

In [96]:
ds_= pd.get_dummies(ds['ParentMaritalStatus'], prefix='ParMarStat')
ds = ds.join(ds_).drop('ParentMaritalStatus',axis=1)

In [97]:
ds.head(10)

In [98]:
ds_= pd.get_dummies(ds['PracticeSport'], prefix='sport')
ds = ds.join(ds_).drop('PracticeSport',axis=1)

In [99]:
ds.head(10)

In [100]:
ds.IsFirstChild.replace({'yes':1,'no':0},inplace=True)

In [101]:
ds.TransportMeans.replace({'school_bus':1,'private':0},inplace=True)

In [102]:
ds_= pd.get_dummies(ds['WklyStudyHours'], prefix='studyHours')
ds = ds.join(ds_).drop('WklyStudyHours',axis=1)

In [103]:
ds.head(10)

In [104]:
#Analisi della correlazione (Da fare)
ds.corr()

In [105]:
#Reading e writing sono altamente correlati, li aggreghiamo facendone la media
new = pd.Series((ds.ReadingScore+ds.WritingScore)/2,name='RWScore')

In [106]:
ds.drop(['ReadingScore','WritingScore'],axis=1,inplace=True)
ds = ds.join(new)

In [107]:
ds.head(10)

In [108]:
ds.corr()

In [109]:
#Dividiamo i valori delle valutazioni per 10
#portandole così da un intervallo 0-100 a un intervallo 0-10
mat2 =pd.Series(ds.MathScore/10,name='MathScore')
ds.drop('MathScore',axis=1,inplace=True)
ds = ds.join(mat2)
rw2 =pd.Series(ds.RWScore/10,name='RWScore')
ds.drop('RWScore',axis=1,inplace=True)
ds = ds.join(rw2)

In [110]:
import numpy as np
np.random.seed(50)

In [111]:
#Definiamo la funzione compute_performance così da poter poi stampare
#la tabella con le varie perfomance dei diversi modelli
#from sklearn.model_selection import cross_val_predict, cross_val_score

import time

pd.options.display.float_format = '{:.8f}'.format

def compute_performance(modelli,names,X,y):
    score_dict = {}
    score_dict['Modello'] = {}
    score_dict['mse'] = {}
    score_dict['variance']= {}
    score_dict['mae']= {}
    score_dict['median_ae']= {}
    score_dict['r2']= {}
    

    for i in range(len(modelli)):
        value_predictions = modelli[i].predict(X)
        mse = mean_squared_error(y, value_predictions)
        variance = explained_variance_score(y,value_predictions)
        mae = mean_absolute_error(y,value_predictions)
        median_ae = median_absolute_error(y, value_predictions)
        r2 = r2_score(y, value_predictions)

        name = names[i]

        score_dict['Modello'][i] = name
        score_dict['mse'][i] = mse
        score_dict['variance'][i] = variance
        score_dict['mae'][i] = mae
        score_dict['median_ae'][i] = median_ae
        score_dict['r2'][i] = r2
        
    return score_dict

In [112]:
regressori = []
nomi = []

<h1> Modello SVM </h1>

In [113]:
modelli_svm = []

In [114]:
#suddivisione del dataset in test set e training set
from sklearn.model_selection import train_test_split
from sklearn.metrics import*
X = ds.drop('MathScore',axis=1)
Y = ds['MathScore']
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [115]:
from sklearn.svm import SVR
svr_reg = SVR()
svr_reg.fit(X_train,y_train)

In [116]:
#performance della SVR sul training set
y_pred_svr= svr_reg.predict(X_train)
'''mse = mean_squared_error(y_train,y_pred_svr)
var = explained_variance_score(y_train,y_pred_svr)
mae = mean_absolute_error(y_train,y_pred_svr)
median_ae = median_absolute_error(y_train,y_pred_svr)
r2 = r2_score(y_train,y_pred_svr)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [117]:
#performance della SVR sul test set
y_pred_svr= svr_reg.predict(X_test)
'''mse = mean_squared_error(y_test,y_pred_svr)
var = explained_variance_score(y_test,y_pred_svr)
mae = mean_absolute_error(y_test,y_pred_svr)
median_ae = median_absolute_error(y_test,y_pred_svr)
r2 = r2_score(y_test,y_pred_svr)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [118]:
regressori.append(svr_reg)
nomi.append("SVR Regressor")
modelli_svm.append("SVR Regressor")

<h1>Modelli Lineari</h1></n>

In [119]:
modelli_lineari = []

<h2>Linear Regressor</h2>

In [120]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg = lin_reg.fit(X_train, y_train)

In [121]:
#performance del linear regressor sul training set
y_pred_lin= lin_reg.predict(X_train)
'''mse = mean_squared_error(y_train,y_pred_lin)
var = explained_variance_score(y_train,y_pred_lin)
mae = mean_absolute_error(y_train,y_pred_lin)
median_ae = median_absolute_error(y_train,y_pred_lin)
r2 = r2_score(y_train,y_pred_lin)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [122]:
#performance del linear regressor sul test set
y_pred_lin= lin_reg.predict(X_test)
'''mse = mean_squared_error(y_test,y_pred_lin)
var = explained_variance_score(y_test,y_pred_lin)
mae = mean_absolute_error(y_test,y_pred_lin)
median_ae = median_absolute_error(y_test,y_pred_lin)
r2 = r2_score(y_test,y_pred_lin)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [123]:
regressori.append(lin_reg)
nomi.append("Linear Regressor")
modelli_lineari.append("Linear Regressor")

<h1>SGD Regressor</h1>

In [124]:
from sklearn.linear_model import SGDRegressor

sgd_reg = SGDRegressor() #maybe random_state=42
sgd_reg.fit(X_train, y_train)

In [125]:
#performance del linear regressor sul training set
y_pred_sgd= sgd_reg.predict(X_train)
'''mse = mean_squared_error(y_train,y_pred_sgd)
var = explained_variance_score(y_train,y_pred_sgd)
mae = mean_absolute_error(y_train,y_pred_sgd)
median_ae = median_absolute_error(y_train,y_pred_sgd)
r2 = r2_score(y_train,y_pred_sgd)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [126]:
#performance del linear regressor sul test set
y_pred_sgd= sgd_reg.predict(X_test)
'''mse = mean_squared_error(y_test,y_pred_sgd)
var = explained_variance_score(y_test,y_pred_sgd)
mae = mean_absolute_error(y_test,y_pred_sgd)
median_ae = median_absolute_error(y_test,y_pred_sgd)
r2 = r2_score(y_test,y_pred_sgd)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [127]:
regressori.append(sgd_reg)
nomi.append("SGD Regressor")
modelli_lineari.append("SGD Regressor")

<h1>Ensemble Models</h1>

In [128]:
modelli_ensemble = []

<h2>Random Forest</h2>

In [129]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor() #n_estimators=10, random_state=42
forest_reg.fit(X_train, y_train)

In [130]:
#performance del forest regressor sul training set
y_pred_forest= forest_reg.predict(X_train)
'''mse = mean_squared_error(y_train,y_pred_forest)
var = explained_variance_score(y_train,y_pred_forest)
mae = mean_absolute_error(y_train,y_pred_forest)
median_ae = median_absolute_error(y_train,y_pred_forest)
r2 = r2_score(y_train,y_pred_forest)
print("mse",mse)
print("var",var)
print("mae",mae)
print("median_ae",median_ae)
print("r2",r2)'''

In [131]:
regressori.append(forest_reg)
nomi.append("Forest Regressor")
modelli_lineari.append("Forest Regressor")

<h2>AdaBoost Regressor</h2>

In [132]:
from sklearn.ensemble import AdaBoostRegressor

ada_reg = AdaBoostRegressor()
ada_reg.fit(X_train, y_train)

In [133]:
regressori.append(ada_reg)
nomi.append("Ada Regressor")
modelli_ensemble.append("Ada Regressor")

<h2>Neural networks</h2>

In [134]:
reti_neurali = []

In [135]:
from sklearn.neural_network import MLPRegressor

mlp_reg = MLPRegressor()
mlp_reg.fit(X_train, y_train)

In [136]:
regressori.append(mlp_reg)
nomi.append("MLP Regressor")
reti_neurali.append("MLP Regressor")

<h1>Modelli ad Albero</h1>

In [137]:
modelli_alberi = []

<h2>DecisionTree Regressor</h2>

In [138]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(X_train, y_train)

In [139]:
regressori.append(tree_reg)
nomi.append("DecisionTree Regressor")
modelli_alberi.append("DecisionTree Regressor")

<h1>Regressori basati su Istance</h1>

In [140]:
modelli_istance = []

<h2>K Neighbour Regressor</h2>

In [141]:
from sklearn.neighbors import KNeighborsRegressor

kn_reg = KNeighborsRegressor()
kn_reg.fit(X_train, y_train)

In [142]:
regressori.append(kn_reg)
nomi.append("K Neighbor Regressor")
modelli_istance.append("K Neighbor Regressor")

<h1>Valutazione performance modelli - Training set</h1>

In [143]:
performance_modelli_training = compute_performance(regressori, nomi, X_train,y_train)
performance_train = pd.DataFrame(performance_modelli_training)
performance_train